/* CSS Document */
/* Version MOBILE */




body { 
    background-color: #1C1D1F; 
    font-family: "Trebuchet MS", "Impact", sans-serif; 
    font-size: 12px; 
    color: #FFFFFF;
    text-shadow: #cbcbcb 1px 0 10px; 
}

/* titres*/
h1, .quotes, .quotes_rouge { 
    font-size: 18px; 
    color: #F1B192; 
    text-shadow: #F1B192 1px 0 10px;
    text-transform: uppercase;
    font-style: italic;
}

h1 span.rouge, li span.rouge { color: #cc0033; }

h2 { 
    font-size: 16px; 
    color: #F47133; 
    text-shadow: #F47133 1px 0 10px;
    text-transform: uppercase;
    font-style: italic;
}

h3 { font-size: 14px; color: #F1B192; }

q { 
    color: #F47133; 
    font-style: italic; 
    text-shadow: #F47133 1px 0 12px;
}

/* Compléter les styles ".quotes" */
.quotes, quotes_rouge { font-style:italic; }
.quotes_rouge { color: #cc0033; }

/* tableaux */
table { border-collapse: collapse; }

/* Entête de tableau    */
th { font-size: 12px; color: #F1B192; text-transform: uppercase;}

td { padding: 5px; }


/* liens standard */
a { transition: color 0.5s; }

a:link, a:visited {
	/*font-size: 20px;*/
	color: #F47133;
	text-decoration: none;
}

a:hover { color: #F1B192; }*/

/* boutons */
a.bouton { transition: color 0.5s, background 0.5s; padding: 5px; }

a.bouton:link, a.bouton:visited {
	color: white;
	background-color: #555;
}

a.bouton:hover {
	/*color: #FF4A4A;
	background-color: #505050;
	box-shadow: 5px 5px 3px black;*/
	background-color: black;
}

a.bouton:active { color: white; font-size: 12px; }


/* toutes les listes */
ul { list-style-type: none; }


/* éléments centrés */
.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* barre de navigation */
nav {
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
}

nav ul {
    list-style-type: none;
    width: 100%;
}

nav ul li {
    float: left;    /* les uns à côté des autres */
    width: 14%;
    text-align: center;
    position: relative;     /* pour replacer les sous-menus correctement sous leur onglet correspondant et pour     qu'ils fassent bien la même taille, appliquer une position : relative aux éléments du menu principal.*/
    transition: width 0.5s;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    /*font-size: 15px;*/
	color: #cbcbcb;
    font-weight: bold;
    text-transform : uppercase;
    text-shadow: #cbcbcb 1px 0 5px;
    display: block;
    /*background-color: transparent;*/
    background-color: #1C1D1F;
	/*border-radius: 20px;*/
    padding: 5px;
	border-bottom: 2px solid transparent;
  transition: color 0.5s, border-bottom 0.5s;
}

/* Change the link color on hover */
nav a:hover { 
    border-bottom-color: #F47133; 
    color: #FFFFFF; /*box-shadow: #F47133 1px 0 10px;*/ 
}

nav a:link, nav a:visited {
    color: #cbcbcb;
}

/* sous-menu */
.sous {
    display: none;  /* caché par défaut */
    font-size: 10px;
    /*box-shadow: 0px 1px 2px #CCC;*/
    background-color: #1C1D1F;
    position: absolute; /* Les sous-menus n'impacteront plus le contenu suivant le menu. */
    width: 100%;
    z-index: 1000;  /* Pour que les sous-menus ne passent pas derrière le contenu qui suit le menu, définir un z-index élevé */
    padding-left: 0;
}

/* cibler un sous menu .sous lorsqu'un utilisateur passe sa souris sur un éléments li de la liste représentant notre menu principal. */
nav > ul li:hover .sous {
    display: block; /* affiché quand on passe la souris */
}

.sous li {
    float: none;    /* les uns en dessous des autres */
    width: 100%;    /* tout l'espace dispo dans leur conteneur */
    text-align: left;
}

/*petite flèche à côté des textes des onglets de menu qui contiennent des sous-menus : symbole ? après le texte en utilisant le pseudo-élément ::after, ce qui va également nous permettre de définir la taille du symbole.*/
.deroulant > a::after {
    content: " \25BC";  
}

a.deroulant > h3::after {
    content: " \25BC";  
}

/* bandeau gauche */
div#bandeau-gauche { display: none; }

ul.enligne li { float: left; padding: 5px; }

.resp-container { 
  position: relative; 
  overflow: hidden; 
  padding-top: 56.25%; 
}

.resp-iframe { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  border: 0; 
}


/* image principale, carroussel */
img#ipb { display:none; }

div#slider { width: 50%; max-width: 1000px; overflow: hidden; }

div#slider figure {
position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  text-align: left;
  animation: 15s slidy infinite;
}

div#slider figure img { width: 20%; height: auto; float: left; }

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}


/* Toutes les listes */
ul#liste li, ul#encart li, ul#info li {
	font-size: 12px;
	color: #FFFFFF;
	background-color: #333333;
    border-radius: 5px;
	padding: 5px;
	margin: 5px;
	width: 90%;
    column-span: none;
	
    display: none;	/* il sera affiché progressivement */
    transition: box-shadow 0.5s, display 0.5s;
    
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
          page-break-inside: avoid; /* Firefox */
               break-inside: avoid; /* IE 10+ */
               break-inside: avoid-column; /* W3C */ 
    
}

ul#liste li { max-width: 90%; }

ul#liste li:hover , ul#encart li:hover { box-shadow: 5px 5px 5px #111; }

/* les images figurant dans une liste */
ul#liste li img { max-width: 100%; }

/* liste des stages */
.flex-container { display: flex; width: 100%; }


 .vignette_date {
	background-color: #1C1D1F;
    text-shadow: #F47133 1px 0 5px;
	color: #F47133;
	margin: 0px;
	text-align:center;
	font-weight: bold;
	padding: 5px;
	border: none;
	width: 80px;
	max-height: 90px;
}

ul#liste li table { width: 90%; }

.info_stage { width: 60%; }
	
.jour { font-size: 20px; }

.mois { font-size: 12px; color: white; }

.col2 { column-count: 2; }

/* news */
div.resume { }
div.corps { display: none; }


/* horaires */
td.cours {
    background-color: #F47133;
}
td.cours2 {
    background-color: #D8632D;
}

/* tarifs */
table.donnee tr:nth-child(even) {
  background-color: #333333;
}

table.donnee tr:nth-child(odd) {
  background-color: #1C1D1F;
}

.surligne { color: #F1B192;  }



/* texte animé  */

<style>
.scroll-left {
     height: 50px;	
     overflow: hidden;
     position: relative;
     /*background: yellow;
     color: orange;
     border: 1px solid orange;*/
}
.scroll-left p {
     position: absolute;
     width: 100%;
     height: 100%;
     margin: 0;
     line-height: 50px;
     text-align: center;
     /* Starting position */
     transform:translateX(100%);
     /* Apply animation to this element */
     animation: scroll-left 15s linear infinite;
    font-size: 10px;
}
/* Move it (define the animation) */
@keyframes scroll-left {
 0%   {
    transform: translateX(100%); 		
 }
 100% {
    transform: translateX(-100%); 
 }
}

.clignote  {
   animation-duration: 1.5s;
   animation-name: clignoter;
   animation-iteration-count: infinite;
   transition: none;
}
@keyframes clignoter {
  0%   { opacity:1; }
  40%   {opacity:0; }
  100% { opacity:1; }
}



@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-size: 80pt;

    text-align: center;
    color: white;

    user-select: none;
}


/* barre de liens */
div#liens { margin-left: 0px; }